<div class="right" id="feed">
    <div class="post">
        <article class="post-content">
            <p class="post-name">
                <%= post.firstName+ ` `+ post.lastName %>
            </p>
            <p class="post-info">
                <%= post.userName+ ` `+ post.date %>
            </p>
            <p class="post-text">
                <%= post.content %>
            </p>
        </article>
        <section class="post-reactions">
            <div onclick="accept(this.id);" id="<%= post.PostID %>" class="accept">Accept Request</div>
        </section>
        <br>
    </div>


    <form method="POST" id="commform" action='/newc'>
        <textarea required type="content" id="content" name="content" style="resize: none;" cols="40" rows="20" placeholder="Ask Something"></textarea><button type="submit" class="btn btn-primary" id="submit"> SUBMIT </button>
        <input style="visibility:hidden;" type="text" name="postID" id="postID" value="<%- postId %>">
    </form>
    <ul>
        <% for (let i = 0; i < comments.length; i++) { %>
            <% var element = comments[i]%>
            <li class="comment">
                <article class="comment-content">
                    <p class="comment-info">
                        <%= element.userName+ ` `+ element.date %>
                    </p>
                    <p class="comment-text">
                        <%= element.text %>
                    </p>
                </article>
            </li>
        <% } %>
    </ul>
</div>