<div class="right" id="feed">
    <h1>{{title}}</h1>
    <div class="post">
        <article class="post-content">
            <p class="post-name">
                <%= post.firstName+ ` `+ post.lastName %>
            </p>
            <p class="post-info">
                <%= post.userName+ ` `+ post.date %>
            </p>
            <p class="post-text">
                <%= post.content %>
            </p>
        </article>
        <section class="post-reactions">
            <div onclick="accept(this.id);" id="<%= postId   %>" class="accept">Accept Request</div>
            <% if(post.users_id == userId){ %>
                <div onclick="location.href='#popup4';" class="button" style="bottom: 0;position: absolute;">Accepted List</div>
                <% } %>
        </section>
        <br>
    </div>


    <div  id="commform">
        <textarea required type="content" id="commentt" name="commentt" style="resize: none;" cols="40" rows="20" placeholder="Ask Something"></textarea>
        <button type="button" class="btn btn-primary" id="commentb"> SUBMIT </button>
        <input style="visibility:hidden;" type="text" name="postID" id="postID" value="<%- postId %>">
    </div>
    <ul>
        <% for (let i = 0; i < comments.length; i++) { %>
            <% var element = comments[i]%>
                <li class="comment">
                    <article class="comment-content">
                        <p class="comment-info">
                            <%= element.userName+ ` `+ element.date %>
                        </p>
                        <p class="comment-text">
                            <%= element.text %>
                        </p>
                    </article>
                </li>
                <% } %>
    </ul>
</div>


<div id="popup4" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <p>List of users that can help (Choosing closes the post!)</p>
        <table class="content table">
            <tr>
                <th style="width: 80%">User info</th>
                <th style="width: 20%">Accept</th>
            </tr>
            <% for (let i = 0; i < accepts.length; i++) { %>
                <% var element = accepts[i]; %>
                <% console.log('Element: ' + element) %>
                <tr>
                    <td>
                        <%- element.firstName + " " + element.lastName +"<b> ("+ element.userName + ")</b>"%>
                    </td>
                    <td>
                        <div onclick="choose(<%= postId + ', ' + element.users_id %>);">Choose user</div>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            title: "somtin",
            comments: [
            {userName: "", date: "", text: "", },
            { message: 'Bar' }
            ]
        },
        mounted: function () {}
    });
</script>