<div class="right" id="feed">
    <ul>
        <% for (let i = 0; i < feed.length; i++) { %>
            <% var element = feed[i]%>
            <li class="post">
                <article class="post-content">
                    <p class="post-name"><%= element.firstName+ ` `+ element.lastName + ` (` + element.userName + `)`%></p>
                    <p class="post-info"><%= element.date %></p>
                    <p class="post-text"> <%= element.content %></p>
                </article>
                <br>
                <section class="post-reactions">
                    <div onclick="accept(this.id);" id="<%= element.id %>" class="accept <% if(element.accepted != null){ %> accepted <% } %>">Accept Request</div><div onclick="window.location.replace('/post/<%= element.id %>');" class="post-comment">Comments</div>
                </section>
            </li>
            <br>
            <br>

         <% } %>
    </ul>
</div>
