<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/community.css">

    <title>
        <%= page_title %>
    </title>
</head>

<body>

    <%- include('nav', communityList); %>

    <%- include('sidebar', {community, belongs, role, requests, communityName, members}); %>

    <% if (belongs){%>
    <%- include('comments', {postId, post, comments, userId}); %>
    <% }else{%>
    <%- include('request', {community});%>
    <% }%>

    <script src="/js/main.js"></script>
</body>

</html>