<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
    <link rel="stylesheet" href="/css/profile.css">

    <title>
        <%= page_title %>
    </title>
</head>

<body>
    <%- include('nav', communityList); %>
        <div class="wrap">
            <input type="button" id="hideshowinfo" value="Update your info">
            <input type="button" id="hideshowaccept" value="You have <%= accepts.length %> posts with volunteers">

            <div id="welcomemessage">
                <h1> Welcome to Community Board,</h1>
                <h1>
                    <b style="color: orange">
                        <%= userinfo.firstName + " " %>
                            <%= userinfo.lastName %>
                    </b>
                </h1>
            </div>

        </div>

        <div id="top">

            <div id="updatediv" style="display: none">

                <section id="updateform">
                    <form method="POST" action="/updateUser" id="update" disabled>
                        <h3>Update your personal info</h3>
                        <b>Username</b>:
                        <input type="text" name="username" id="username" value="<%= userinfo.userName %>">
                        <hr> <b>FirstName</b>:
                        <input type="text" name="firstname" id="firstname" value="<%= userinfo.firstName %>">
                        <hr> <b>LastName</b>:
                        <input type="text" name="lastname" id="lastname" value="<%= userinfo.lastName %>">
                        <hr> <b>Email</b>:
                        <input type="email" name="email" id="email" value="<%= userinfo.email %>">
                </section>
                <button type="submit" id="usubmit"> Update info </button>
                </form>
            </div>

            <div id="accepts" style="display: none">
                <form method="POST" action="/acceptHelp" id="register" disabled>
                    <h3> Accept help</h3>
                    <h4> Posts: </h4>

                    <% for (let i = 0; i < accepts.length; i++) { %>
                        <% var element = accepts[i]%>
                            <li class="accept">
                                <article class="accept-content">
                                    <p class="post-info">
                                        <div onclick="window.location.replace('/post/<%= element.id %>');">
                                            <%= element.content %>
                                        </div>
                                    </p>
                                    <hr>
                                </article>
                            </li>
                            <% } %>
                </form>
            </div>

        </div>

        <div id="userscore">
            <h2>
                <% if(userinfo.userScore == 0){ %>
                    <b>
                        You don't have any points yet :(
                        <br> Help someone to get some!!

                    </b>
                    <% } %>

                        <% if(userinfo.userScore != 0){ %>
                            <b>
                                You currently have
                                <b style="color: orange">
                                    <%= userinfo.userScore %>
                                </b> points! Thanks for helping!!
                            </b>
                            <% } %>
            </h2>
        </div>

        <script>
            jQuery(document).ready(function () {
                jQuery('#hideshowinfo').on('click', function (event) {
                    jQuery('#updatediv').toggle('hide');
                });
            });
        </script>
        <script>
            jQuery(document).ready(function () {
                jQuery('#hideshowaccept').on('click', function (event) {
                    jQuery('#accepts').toggle('hide');
                });
            });
        </script>

        <script src="/js/main.js"></script>
</body>

</html>