<div class="left" id="sidebar">
    <img class="profile-pic circular--square" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA3sT9gBpKnl_cJRDOqrq-_NiwosIBY_eHuisQ_Kj8SkABMqaw"
    />
    <a href="/feed/<%- community %>">
        <p class="name">
            <%- communityName %>
        </p>
    </a>
    <p class="bio">
        Group of
        <%- communityName %>
    </p>
    <a id="new" class="button" href="#popup1">NEW POST</a>
    <a id="addevent" class="button" href="#popup5">EVENTS</a>
    <a id="members" class="button" href="#popup3">MEMBERS</a>
    <% if(role == 1){ %>
        <a id="join" class="button" href="#popup2">JOIN REQUESTS</a>
        <a id="createevent" class="button" href="#popup6">CREATE EVENT</a>
    <% } %>
    <div id="leave" onclick='leave(<%=community %>, "<%= communityName %>");'>X</div>
</div>


<% if(role == 1){ %>
<div id="popup2" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <p>LIST OF USERS WHO REQUESTED TO JOIN</p>
        <br>
        <table class="content table">
            <tr>
                <th style="width: 80%">User info</th>
                <th style="width: 20%">Accept</th>
            </tr>
            <% for (let i = 0; i < requests.length; i++) { %>
                <% var element = requests[i]; %>
                    <tr>
                        <td>
                            <%= element.firstName + " " + element.lastName +" UserName: "+ element.userName%>
                        </td>
                        <td>
                            <div onclick="acceptRequest(this.id, <%=community %>);" id="<%= element.id %>">Accept Request</div>
                        </td>
                    </tr>
                    <% } %>
        </table>
    </div>
</div>
</div>
<% } %>

<div id="popup3" class="overlay">
<div class="popup">
    <a class="close" href="#">&times;</a>
    <b>List of users in this community</b>
    <br>
    <table class="content table">
        <tr>
            <th style="width: 50%">Name</th>
            <th style="width: 30%">UserName</th>
            <th style="width: 10%"></th>
            <th style="width: 10%"></th>
        </tr>
        <% for (let i = 0; i < members.length; i++) { %>
            <% var element = members[i]; %>
                <tr>
                    <td>
                        <%= element.firstName + " " + element.lastName%>
                    </td>
                    <td>
                        <%= element.userName %>
                    </td>
                    <% if(role == 1){ %>
                    <% if(element.role == 1){ %>
                        <td class="demote">
                            <p onclick="demote(<%=community %>, <%= element.id %>);"> ⇩ </p>
                        </td>
                    <% }else{ %>
                    <td class="promote">
                        <p onclick="promote(<%=community %>, <%= element.id %>);"> ⇧ </p>
                    </td>
                    <% } %>
                    <td class="kick">
                        <p onclick="kick(<%=community %>, <%= element.id %>);"> X </p>
                    </td>
                    <% } %>
                </tr>
                <% } %>
    </table>
</div>
</div>

<!-- community events -->
<div id="popup5" class="overlay">
<div class="popup1">
    <a class="close" href="#">&times;</a>
    <div class="content">
        <b>Click on an event to add it to your list!</b>
        <br>
        <table class="content table">
            <tr>
                <th style="width: 70%">Description</th>
                <th style="width: 30%">Date</th>
            </tr>
            <% for (let i = 0; i < comEvents.length; i++) { %>
                <% var element = comEvents[i]; %>
                    <tr>
                        <td>
                            <%= element.description %>
                        </td>
                        <td>
                            <%= element.date %>
                        </td>
                        <td>
                                <div onclick="acceptEvent(<%= userId %>, <%= element.id %>);">Accept Event</div>
                            </td>
                    </tr>
            <% } %>
        </table>
    </div>
</div>
</div>

<% if(role == 1){ %>
<div id="popup6" class="overlay">
    <div class="popup">
        <a class="close" href="#">&times;</a>
        <p>Create a new community event</p>
        <br>
        <table class="content table">
            <form method="POST" action="/insertComEvent" id="ccevents">
                Description:
                <input type="text" name="description" id="description" style="padding-bottom: 2vh" placeholder="Your To-Do description">
                <br> Date:
                <input type="datetime-local" name="date" id="date">
                <input style="visibility:hidden;" type="text" name="comID" id="comID" value="<%-community %>">
                <button type="submit" class="btn btn-primary" id="cesubmit"> Insert Event </button>
            </form>
        </table>
    </div>
</div>
<% } %>