<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/typeahead.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/todo.css" />
    <title>Register</title>
</head>

<body>
    <%- include('nav'); %>
        <div id="content">
            <div class="row">
                <div class="col-md-4">
                    <section id="createevent">
                        <form method="POST" action="/insertTodo" id="todo">
                            <br>
                            <h2 style="margin: 0">Insert To-Do Event</h2>
                            Description:
                            <br>
                            <input type="text" name="description" id="description" placeholder="Your To-Do description">
                            <br> Date:
                            <br>
                            <input type="datetime-local" name="date" id="date">
                            <button type="submit" id="esubmit"> Insert Event </button>
                        </form>
                    </section>
                </div>
                <div class="col-md-8" id="events">
                    <ul>
                        <% for (let i = 0; i < events.length; i++) { %>
                            <% var element = events[i]%>
                                <li style="background: lightgray" id="event">
                                    <article class="event-content">
                                        <p class="event-date">
                                            <%= `Due: `+ element.date %>
                                        </p>
                                        <p class="event-info">
                                                <%= element.description %>
                                        </p>
                                    </article>
                                    <br>
                                    <section class="event-delete">
                                        <!-- <div onclick="accept(this.id);" id="<%= element.id %>" class="accept <% if(element.accepted != null){ %> accepted <% } %>">Accept Request</div>
                                    <div onclick="window.location.replace('/post/<%= element.id %>');"
                                        class="post-comment">Comments</div> -->
                                    </section>
                                </li>
                                <br>
                                <br>

                                <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <script src="/js/main.js"></script>
</body>

</html>