<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/todo.css" />
    <title><%= page_title %></title>
</head>

<body>
    <%- include('nav'); %>
        <div class="wrap">
        </div>

        <div id="inserttodo">
            <form method="POST" action="/insertTodo" id="todo">
                <h3>Insert To-Do Event</h2>
                    <input type="text" name="description" id="description" placeholder="Your To-Do description">
                    <hr> Due date:
                    <input type="datetime-local" name="date" id="date" />
                    <button type="submit" id="esubmit"> Insert Event </button>
            </form>
        </div>

        <div id="events">
            <ul>
                <% for (let i = 0; i < events.length; i++) { %>
                    <% var element = events[i]%>
                        <li id="event">
                            <article class="event-content">
                                <p class="event-date">
                                    <%= element.date %>
                                </p>
                                <hr>
                                <p class="event-info">
                                    <%= element.description %>
                                </p>
                            </article>
                            <div id="deletetodo" onClick="deleteTodo(<%= element.id %>)"> DELETE</div>
                        </li>
                        <br>
                        <hr id="line">

                        <% } %>
            </ul>
        </div>

        <script src="/js/main.js"></script>
        <script>
            $(function () {
                var dtToday = new Date();

                var month = dtToday.getMonth() + 1;
                var day = dtToday.getDate();
                var year = dtToday.getFullYear();
                var hours = dtToday.getHours();
                var min = dtToday.getMinutes();
                if (month < 10)
                    month = '0' + month.toString();
                if (day < 10)
                    day = '0' + day.toString();

                var maxDate = year + '-' + month + '-' + day + "T" + hours + ":" + min;
                console.log(maxDate);
                $('#date').attr('min', maxDate);
            });
        </script>
</body>

</html>